<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <nav> 
             <a link href="shared/templates/home.html" rel=""> Shared movies </a>
             <a link href="movies/template/movie_list.html" rel=""> movies</a>
                    
            </nav>
   
    <title>Registration page</title>
</head>

<body>
    <div class="container"> <h2>Register</h2>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            {{ form }}
        </form>
        
        {% if request.user.is_authenticated %}
        <li>
        <a href="{% url 'logout' %}" class="btn btn-info"> logout </a>
        </li>

        {% else %}

        <li>
            <a class="nav-link" href="{% url 'register' %}"> Register </a>
        </li>

        <li class="nav-item">
            
          </li>
        {% endif %}
    </div>
</body>
</html>